[capture]
source = "gphoto2"
interval_secs = {{ capture_interval_secs | default(45) }}
{% if capture_start_time is defined %}
start_time = "{{ capture_start_time }}"
{% endif %}
output_dir = "/captures"

[queue]
backend = "rabbitmq"
rabbitmq_url = "amqp://{{ rabbitmq_user | urlencode }}:{{ rabbitmq_password | urlencode }}@rabbitmq:{{ rabbitmq_port }}/%2f"

[pipeline]
debayer = true
compression = "none"
